body{
    background: url('asset/scales-measuring-tape-gray-floor-weight-loss-concept_926199-2762722.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: "Poppins", sans-serif;
}

.container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E6B9A6;
    padding: 15px;
    border-radius: 15px;
    box-shadow: #E6B9A6;

}

.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title h2{
    text-align: center;


}

.title p{
    margin-top: -3%;
    font-size: small;
    margin-bottom: 5%;

}

.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}

button{
    background-color: #8a533c;
    color: whitesmoke;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    height: auto;
    font-size: 10pt;
    border: solid whitesmoke;
}

button:hover{
    background-color: #E6B9A6;
    color: grey;
}

input {
    border-radius: 3px;
    margin-right: 10px;
    height: 20px;
    box-shadow: none;
    background-color: rgb(239, 230, 212);
    border: thin grey ;
}

label{
    margin-bottom: 10px;
    font-size: small;
}

#result{
    font-size:medium;
    text-align: center;
}